/* General Styling */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f9f9f9;
  }
  
  h1 {
    text-align: center;
    margin-bottom: 40px;
    margin-top: 20px;
    color: #333;
    font-weight: bolder;
    font-size: 3em;
    font-family: 'Pacifico', cursive;
  }
  
  section {
    text-align: center;
    padding: 20px;
  }
  

  
  .profile-pic img {

    border: #9c9393 solid 6px;
    height:300px;
    width: 300px;
    border-radius: 50%;
    margin-bottom: 20px;
    margin-top: 20px;
  }
  
  
  .social-media {
    margin-top: 20px;
  }
  
  .icon {
    margin: 0 15px;
    display: inline-block;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    overflow: hidden;
    transition: transform 0.3s ease;
  }
  
  .icon img {
    width: 100%;
    height: 100%;
    object-fit: fill;
  }
  
  .icon:hover {
    transform: scale(1.2);
  }
  
  
  .facebook {
    background-color: #3b5998;
    padding: 10px;
  }
  
  .linkedin {
    background-color: #0077b5;
    padding: 10px;
  }
  
  .github {
    background-color: #141313; /* GitHub's brand color */
    padding: 10px;
  }